{% extends 'base1.html.twig' %}

{% block title %}Harry Codeur
{% endblock %}

{% block monTitre %}Harry codeur
{% endblock %}
{% block sousTitre %}Tu es pret au combat
	{{app.user.username}}
{% endblock %}
{% block body %}
	<div class="row justify-content-md-center">
		<a href="{{path('maraudeur')}}" class="btn btn-success m-5">Jouer</a>
		{% if (is_granted ('ROLE_ADMIN')) and (is_granted ('ROLE_SUPER_ADMIN') == false) %}
			<a href="{{path('app_editP', {'id' : app.user.id})}}" class="btn btn-secondary m-5">Modifier votre profil</a>
		{% elseif (is_granted ('ROLE_USER')) and (is_granted ('ROLE_SUPER_ADMIN') == false) and (is_granted ('ROLE_ADMIN') == false) %}
			<a href="{{path('app_editJ', {'id' : app.user.id})}}" class="btn btn-secondary m-5">Modifier votre profil</a>
		{% elseif is_granted ('ROLE_SUPER_ADMIN') %}
			<a href="{{path('app_editS', {'id' : app.user.id})}}" class="btn btn-secondary m-5">Modifier votre profil</a>
		{% endif %}
		{% if (is_granted ('ROLE_ADMIN')) and (is_granted ('ROLE_SUPER_ADMIN') == false) %}
			<a href="{{path('app_profil')}}" class="btn btn-secondary m-5">Mes questions</a>
		{% endif %}
		{% if is_granted ('ROLE_SUPER_ADMIN') %}
			<a href="{{path('inscription_prof')}}" class="btn btn-secondary m-5">Ajouter un prof</a>
			<a href="{{path('app_domaine')}}" class="btn btn-secondary m-5">Ajouter un domaine</a>
			<a href="{{path('consulteBDD')}}" class="btn btn-secondary m-5">Consulter la BDD</a>
		{% endif %}
		<a href="{{path('logout')}}" class="btn btn-danger m-5">Déconnexion</a>
	</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
