{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs
{% endblock %}
{% block body %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Lastname</th>
				<th scope="col">Firstname</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Rôle</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr class="table-primary">
					<th scope="row">{{utilisateur.id}}</th>
					<td>{{utilisateur.lastname}}</td>
					<td>{{utilisateur.firstname}}</td>
					<td>{{utilisateur.username}}</td>
					<td>{{utilisateur.email}}</td>
					<td>{{utilisateur.roles|join}}</td>
					{% if utilisateur.roles|join == 'ROLE_USER' %}
						<td>
							<a href="{{path('app_editJ', {'id' : utilisateur.id})}}" class="btn btn-link">Modifier profil</a>
						</td>
					{% elseif utilisateur.roles|join == 'ROLE_ADMIN'%}
						<td>
							<a href="{{path('app_editP', {'id' : utilisateur.id})}}" class="btn btn-link">Modifier profil</a>
						</td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Intitule</th>
				<th scope="col">Visible</th>
				<th scope="col">Professeur</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for question in questions %}
				<tr class="table-primary">
					<th scope="row">{{question.id}}</th>
					<td>{{question.intitule}}</td>
					{% if question.visible == 1 %}
					<td>Active</td>
					{% else %}
					<td>Inactive</td>
					{% endif %}
					<td>{{question.professeur.username}}</td>
					<td>
						<a href="{{path('chemin', {'id' : question.id})}}" class="btn btn-link">Detail</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{path('chemin')}}" class="btn btn-warning m">Retour</a>
	<div id="popups" data-prototype="{% include '../combat/popup.html.twig' with {'data':{'id':'__id__','title':'__title__','content':'__content__'}, 'type':'__type__'} only %}"></div>
{% endblock %}
