{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs
{% endblock %}
{% block body %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Lastname</th>
				<th scope="col">Firstname</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Rôle</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr class="table-primary">
					<th scope="row">{{utilisateur.id}}</th>
					<td>{{utilisateur.lastname}}</td>
					<td>{{utilisateur.firstname}}</td>
					<td>{{utilisateur.username}}</td>
					<td>{{utilisateur.email}}</td>
					<td>{{utilisateur.roles|join}}</td>
					{% if utilisateur.roles|join == 'ROLE_USER' %}
						<td>
							<a href="{{path('app_editJ', {'id' : utilisateur.id})}}" class="btn btn-link">Modifier profil</a>
						</td>
						<td>
							<form method="POST" action="{{ path('app_remove_utilisateur', { 'id':utilisateur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet utilisateur?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('remove'~utilisateur.id) }}">
								<button class="btn btn-link">Supprimer</button>
							</form>
						</td>
					{% elseif utilisateur.roles|join == 'ROLE_ADMIN'%}
						<td>
							<a href="{{path('modif_prof', {'id' : utilisateur.id})}}" class="btn btn-link">Modifier profil</a>
						</td>
						<td>
							<form method="POST" action="{{ path('app_remove_professeur', { 'id':utilisateur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce professeur?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('remove'~utilisateur.id) }}">
								<button class="btn btn-link">Supprimer</button>
							</form>
						</td>
					{% else %}
						<td></td>
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Intitule</th>
				<th scope="col">Visible</th>
				<th scope="col">Professeur</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for question in questions %}
				<tr class="table-primary">
					<th scope="row">{{question.id}}</th>
					<td>{{question.intitule}}</td>
					{% if question.visible == 1 %}
						<td>Active</td>
					{% else %}
						<td>Inactive</td>
					{% endif %}
					<td>{{question.professeur.username}}</td>
					<td>
					{% if question.visible == 1 %}
						<a class="btn btn-link" href="{{ path('app_visible', { 'id':question.id}) }}">Désactiver</a>
					{% else %}
						<a class="btn btn-link" href="{{ path('app_visible', { 'id':question.id}) }}" >Activer</a>
					{% endif %}
					</td>
					<td>
						<a class="btn btn-link" onclick="show({{question.id}})">Detail</a>
					</td>
					<td>
						<form method="POST" action="{{ path('app_remove_question', { 'id':question.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette question?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('remove'~question.id) }}">
							<button class="btn btn-link">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Domaine</th>
				<th scope="col">Logo</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for domaine in domaines %}
			<tr class="table-primary">
				<th scope="row">{{domaine.id}}</th>
				<td>{{domaine.name}}</td>
				<td>{{domaine.logo}}</td>
				<td>
					<form method="POST" action="{{ path('app_remove_domaine', { 'id':domaine.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce domaine?')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('remove'~domaine.id) }}">
						<button class="btn btn-link">Supprimer</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{path('chemin')}}" class="btn btn-warning m">Retour</a>
{% endblock %}
{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

	function show(id){
        var $url = "/detail" +"/"+ id;
        $.get($url, function ($data) {
                var $popupHolder = $('#popups');
                var index = $popupHolder.children().length;
                var newPopup = $popupHolder.data('prototype');
                newPopup = newPopup.replace(/__id__/g, 'popup_' + index);
                newPopup = newPopup.replace(/__title__/g, 'Détails !');
                newPopup = newPopup.replace(/__content__/g, $data);
                newPopup = newPopup.replace(/__type__/g, 'success');
                $popupHolder.append(newPopup);
				$('#popup_' + index + '_button').addClass("d-none");
				$('#popup_' + index + '_button').click()
				});}
	</script>
{% endblock %}
