{% extends 'base.html.twig' %}

{% block title %}Harry Codeur{% endblock %}

{% block monTitre %}Harry codeur{% endblock %}
{% block sousTitre %}Les requetes de la mort{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{{form_start(form)}}

    {{ form_row(form.name)}}
    {{ form_row(form.logo)}}
    <div class="row">
        <div class="col">
            <button class="btn btn-primary m-3">Valider</button>
            <a href="{{path('connexion')}}" class="btn btn-warning m">Retour</a>                 
        </div>  
    </div>
{{form_end(form)}}

{% endblock %}
