{% extends 'base.html.twig' %}

{% block title %}Harry Codeur{% endblock %}
{% block body %}
{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endfor %}
    <div class="justify-content-around" id="block">
        <div class="">
            <h4 class="">Votre question :</h4>
            <a class="btn btn-info" onclick="aideQ()">
				<i class="far fa-question-circle"> Les règles pour créer une question?</i>
			</a>
        </div>
        <div class="" id="formulaire">
            {{ form_start(form) }}
            {{ form_row(form.domaine) }}
            {{ form_row(form.intitule, { 'label':'Question','attr': {'placeholder': 'Votre question'}}) }}
            {{ form_row(form.description, {'attr': {'placeholder': 'Votre description'}}) }}
            {{ form_row(form.reponses, {'label': false }) }}
            {{ form_row(form.justification, {'attr': {'placeholder': 'Votre justification'}}) }}
            <a class="btn btn-info" href="{{ path('app_profil') }}" >Retour</a>
            <button  class="btn btn-warning">Envoyer</button>
            {{ form_end(form) }}
        </div>  
    </div>
    {# // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
    <script type="text/javascript">
        $(document).ready(function () {
            var $container = $('div#question_form_reponses');

            var index = $container.find(':input').length;
            if (!document.getElementById('question_form_reponses_3'))
                for (i = 0; i < 4; i++) {
                    addReponse($container);
                }
            ;
            function addReponse($container) {
// Dans le contenu de l'attribut « data-prototype », on remplace :
// - le texte "__name__label__" qu'il contient par le label du champ
// - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Reponse n°' + (index + 1))
                        .replace(/__name__/g, index)
                        ;

// On crée un objet jquery qui contient ce template
                var $prototype = $(template);



// On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }


        });

		function aideQ() {
var $popupHolder = $('#popups');
var index = $popupHolder.children().length;
var newPopup = $popupHolder.data('prototype');
newPopup = newPopup.replace(/__id__/g, 'popup_' + index);
newPopup = newPopup.replace(/__title__/g, 'La navigation?');
newPopup = newPopup.replace(/__content__/g, "A quoi servent tous ces boutons?<br> \
\"Jouer\" vous permet de lancer un combat contre un professeur aléatoire.<br> \
\"Modifier votre profil\"  vous permet d'accéder à la page de modification de vos informations personnelles.<br> \
\"Mes questions\" Vous permet d'accéder à votre page profil qui liste toutes vos questions déjà créer et donne accès à la page de création de questions. <br>");
newPopup = newPopup.replace(/__type__/g, 'secondary');
$popupHolder.append(newPopup);
$('#popup_' + index + '_button').addClass("d-none");
$('#popup_' + index + '_button').click();
};
    </script>
{% endblock %}
